<!-- This form validates every field and on click of create button displays if the form is valid or not -->

<form #userForm="ngForm" [formGroup]="reactiveForm">

  <div class="main">
    <div class="upload-img" (click)="uploadImage()">
      <img src="assets/imgs/you.png" width="70px" height="70px" />
    </div>
    <div class="top">
      <div class="left">
        <div class="form-group">
          <div class="form-group-left">
            <label for="firstname">First Name<span class="required">*</span></label>
          </div>

          <input type="text" id="firstname" name="firstname" required formControlName="firstname" class="form-control"
            placeholder="Type here" /><br>
          <span *ngIf="reactiveForm.controls['firstname'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            <!-- <img src="/assets/icons/error-icon.svg" /> -->
            Reached maximum character limit (18) for the label
          </span>
        </div>
        <!-- [class.is-invalid]="firstname.invalid && (firstname.touched || firstname.dirty)" -->
        <!-- <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
          class="invalid-feedback">
          <div *ngIf="firstname.errors?.['required']">
            This field is required.
          </div>
        </div> -->

        <div class="form-group">
          <div class="form-group-left">
            <label for="mobile">Mobile<span class="required">*</span></label>
          </div>

          <input type="tel" required class="form-control" placeholder="Type here" formControlName="mobile" id="mobile"
            name="mobile" /><br>
          <span *ngIf="reactiveForm.controls['mobile'].hasError('pattern')"
            class="f-quick-sand-regular text-overline error-msg">
            Mobile number must be 10 digits
          </span>
        </div>
        <!-- pattern="^\d{10}$"  -->
        <!-- [class.is-invalid]="mobile.invalid && (mobile.touched && mobile.dirty)" -->
        <!-- <div *ngIf="mobile.errors && (mobile.invalid || mobile.touched)"
            class="invalid-feedback">
            <div *ngIf="mobile.errors?.['required']">
              Phone number is required -->
        <!-- <div *ngIf="mobile.pattern?.['required']">
                    Phone number must be 10 digits</small>
        </div> -->
        <!-- </div>
          </div> -->

        <div class="form-group">
          <div class="form-group-left">
            <div  class="gender">
            <label for="gender">Gender<span class="required">*</span></label>
          </div>
       
          <div class="genderBtn">
            <input type="radio" id="radioMale" name="gender" value="male" formControlName="gender">
            <label for="radioMale"><br>Male</label>
        
            <input type="radio" id="radioFemale" name="gender" value="female" formControlName="gender">
            <label for="radioFemale"><br>Female</label>
      
        </div>
        </div>
      </div>
      </div>

      <div class="right">
        <div class="form-group">
          <div class="form-group-right">
            <label for="lastname" class="lastname">Last Name<span class="required">*</span></label>
          </div>

          <input type="text" required class="form-control" placeholder="Type here" formControlName="lastname"
            id="lastname" name="lastname" /><br>
          <span *ngIf="reactiveForm.controls['lastname'].hasError('minlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Minimum character limit is atleast 1
          </span>
          <span *ngIf="reactiveForm.controls['lastname'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached maximum character limit (25) for the label

          </span>
        </div>
        <!-- [class.is-invalid]="lastname.invalid && (lastname.touched && mobile.dirty)" -->
        <!-- <div
              *ngIf="lastname.errors && (lastname.invalid || lastname.touched)"
              class="invalid-feedback">
              <div *ngIf="lastname.errors?.['required']">
                Last Name is required
              </div>
            </div> -->

        <div class="form-group">
          <div class="form-group-right">
            <label for="email">Email ID<span class="required">*</span></label>
          </div>

          <input type="text" required class="form-control" placeholder="Type here" formControlName="email" id="email"
            name="email" /><br>
          <!-- <span *ngIf="reactiveForm.controls['email'].hasError('maxlength')"
              class="f-quick-sand-regular text-overline error-msg">
              Reached Maximun character limit -->
          <!-- </span> -->
          <span *ngIf="reactiveForm.controls['email'].hasError('pattern')"
            class="f-quick-sand-regular text-overline error-msg">
            Incorrect email format
          </span>
        </div>
        <!-- [class.is-invalid]="email.invalid && (email.touched && mail.dirty)"
              <div *ngIf="email.errors && (email.invalid || email.touched)"
                class="invalid-feedback">
                <div *ngIf="email.errors?.['required']">
                  Email is required
                </div>
              </div>
 -->
        <div class="form-group">
          <div class="form-group-right">
            <label for="qualification">Qualification<span class="required">*</span></label>
          </div>

          <input type="text" required class="form-control" placeholder="Type here" id="qualification"
            formControlName="qualification" name="qualification" /><br>
          <span *ngIf="reactiveForm.controls['qualification'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
        </div>
        <!-- [class.is-invalid]="qualification.invalid && (email.touched && email.dirty)" -->
        <!-- <div
                *ngIf="qualification.errors && (qualification.invalid || qualification.touched)"
                class="invalid-feedback">
                <div *ngIf="qualification.errors?.['required']">
                  Qualification is required
                </div>
              </div> -->
      </div>
    </div>

    <p>Work Related</p>
    <div class="bottom">
      <div class="work-related">
        <div class="work-related-left">
          <div class="form-group">
            <div class="form-group-left">
              <label for="category">Category<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="category"
            formControlName="category" name="category" /><br>
          <span *ngIf="reactiveForm.controls['category'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="category.invalid && (category.touched && category.dirty)"
                  <div
                    *ngIf="category.errors && (category.invalid || category.touched)"
                    class="invalid-feedback">
                    <div *ngIf="category.errors?.['required']">
                      Category is required
                    </div>
                  </div> -->

          <div class="form-group">
            <div class="form-group-left">
              <label for="currentcompany">Current Company<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="currentcompany"
            name="currentcompany" formControlName="currentcompany" /><br>
          <span *ngIf="reactiveForm.controls['currentcompany'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="currentcmpy.invalid && (currentcmpy.touched || currentcompany.dirty)"
                    <div
                      *ngIf="currentcompany.errors && (currentcompany.invalid || currentcompany.touched)"
                      class="invalid-feedback">
                      <div *ngIf="category.errors?.['required']">
                        Current Company name is required
                      </div>
                      </div> -->

          <div class="form-group">
            <div class="form-group-left">
              <label for="currentloc">Current Location<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="currentloc" name="currentloc"
            formControlName="currentloc" /><br>
          <span *ngIf="reactiveForm.controls['currentloc'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="currentloc.invalid && (currentloc.touched && currentloc.dirty)"
                        <div
                          *ngIf="currentlocation.errors && (currentlocation.invalid || currentlocation.touched)"
                          class="invalid-feedback">
                          <div *ngIf="currentlocation.errors?.['required']">
                            Current Company name is required
                          </div>
                        </div> -->

          <div class="form-group">
            <div class="form-group-left">
              <label for="currentsalary">Current Salary<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="currentsalary"
            name="currentsalary" formControlName="currentsalary" /><br>
          <span *ngIf="reactiveForm.controls['currentsalary'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Current salary amount is required
          </span>
          <!-- [class.is-invalid]="currentsal.invalid && currentsal.touched"
                          <div
                            *ngIf="currentsalary.errors && (currentsalary.invalid || currentsalary.touched)"
                            class="invalid-feedback">
                            <div *ngIf="currentsalary.errors?.['required']">
                              Current Salary name is required
                            </div>
                          </div> -->

          <div class="form-group">
            <div class="form-group-left">
              <label for="skills">Skills<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="skills" name="skills"
            formControlName="skills" /><br>
          <span *ngIf="reactiveForm.controls['skills'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="skills.invalid && (skills.touched && skills.dirty)"
                            <div
                              *ngIf="skills.errors && (skills.invalid || skills.touched)"
                              class="invalid-feedback">
                              <div *ngIf="skills.errors?.['required']">
                                Skills name is required
                              </div>
                            </div> -->
        </div>

        <div class="work-related-right">
          <div class="form-group">
            <div class="form-group-right">
              <label for="currentdesignation">Current
                Designation<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="currentdesignation"
            name="currentdesignation" formControlName="currentdesignation" /><br>
          <span *ngIf="reactiveForm.controls['currentdesignation'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="currentdesg.invalid && (currentdesg.touched && currentdesignation.dirty)"
                              <div
                                *ngIf="currentdesignation.errors && (currentdesignation.invalid || currentdesignation.touched)"
                                class="invalid-feedback">
                                <div
                                  *ngIf="currentdesignation.errors?.['required']">
                                  Current Designation name is required
                                </div>
                              </div> -->

          <div class="form-group">
            <div class="form-group-right">
              <label for="yearsofexp">Years of Experience<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="yearsofexp" name="yearsofexp"
            formControlName="yearsofexp" /><br>
          <span *ngIf="reactiveForm.controls['yearsofexp'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="yearsofexp.invalid && (yearsofexp.touched && yearsofexp.dirty)"
                                <div
                                  *ngIf="yearsofexp.errors && (yearsofexp.invalid || yearsofexp.touched)"
                                  class="invalid-feedback">
                                  <div *ngIf="yearsofexp.errors?.['required']">
                                    Years Of Experience name is required
                                  </div>
                                </div> -->

          <div class="form-group">
            <div class="form-group-right">
              <label for="noticeperiod">Notice Period<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="noticeperiod" name="noticeperiod"
            formControlName="noticeperiod" /><br>
          <span *ngIf="reactiveForm.controls['noticeperiod'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="noticeperiod.invalid && (noticeperiod.touched && noticeperiod.dirty)"
                                  <div
                                    *ngIf="noticeperiod.errors && (noticeperiod.invalid || noticeperiod.touched)"
                                    class="invalid-feedback">
                                    <div
                                      *ngIf="noticeperiod.errors?.['required']">
                                      Notice Period is required
                                    </div>
                                  </div> -->

          <div class="form-group">
            <div class="form-group-right">
              <label for="expectedsalary">Expected Salary<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="expectedsalary"
            name="expectedsalary" formControlName="expectedsalary" /><br>
          <span *ngIf="reactiveForm.controls['expectedsalary'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="expsal.invalid && (expsal.touched && expsal.dirty)"
                                      <div
                                      *ngIf="expectedsalary.errors && (expectedsalary.invalid || expectedsalary.touched)"
                                      class="invalid-feedback">
                                      <div
                                        *ngIf="expectedsalary.errors?.['required']">
                                        Expected Salary is required
                                      </div>
                                    </div> -->

          <div class="form-group">
            <div class="form-group-right">
              <label for="prjs">Projects<span class="required">*</span></label>
            </div>
          </div>
          <input type="text" required class="form-control" placeholder="Type here" id="prjs" name="prjs"
            formControlName="prjs" /><br>
          <span *ngIf="reactiveForm.controls['prjs'].hasError('maxlength')"
            class="f-quick-sand-regular text-overline error-msg">
            Reached Maximun character limit
          </span>
          <!-- [class.is-invalid]="prjs.invalid && (prjs.touched && prjs.dirty)"
                                        <div
                                        *ngIf="prjs.errors && (prjs.invalid || prjs.touched)"
                                        class="invalid-feedback">
                                        <div *ngIf="prjs.errors?.['required']">
                                          Projects is required
                                        </div>
                                      </div> -->
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="availability-label">
        <label>Availability<span class="required">*</span></label>
      </div>
    </div>

    <div class="form-group">
      <div class="Availability">
        <label class="available-name" name="available"> <br />Readily Available</label>
        <div class="toggle">
          <mat-slide-toggle></mat-slide-toggle>
        </div>
      </div>

    <div class="form-group">
      <div class="project">
        <label for="project">Project<span class="required">*</span></label>
      </div>
    </div>
    <input type="text" required class="input-project" placeholder="Project 1" id="project" name="project"
      formControlName="project" /><br>
    <span *ngIf="reactiveForm.controls['project'].hasError('maxlength')"
      class="f-quick-sand-regular text-overline error-msg">
      Reached Maximun character limit
    </span>
    <!-- [class.is-invalid]="project.invalid && project.touched"
                                  <div
                                    *ngIf="project.errors && (project.invalid || project.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="project.errors?.['required']">
                                      Projects is required
                                    </div>
                                  </div> -->

    <div class="form-group">
      <div class="showInputField"></div> 
      <div class="add-projects">
        <button class="add-prj-btn" (click)="add()"> <img src="assets/imgs/addPrj.png" width="20px" height="20px"> More Projects</button>
        <!-- <div class="label"> More Projects </div> -->
      </div>
    </div>
    </div>


    <div class="form-group">
      <div class="resume">
        <!-- <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile"> -->
        <div class="upload-full-resume" >
          <button class="img">
            <!-- (click)="this.upload()" type="button"  -->
            <img src="assets/imgs/createnew.png" (click)="uploadFullResume()"width="30px" height="30px" />
          </button>
          <input hidden #fileInput type="file" class="file-upload" (change)="onFileChange($event)" /><br>
  Upload Full Resume
</div>

        <div class="upload-blank-resume">
          <button class="img">
            <img src="assets/imgs/createnew.png" (click)="uploadBlankResume()" width="30px" height="30px" />
          </button>
          <input hidden #fileInput type="file" class="file-upload" (change)="onFileChange($event)" />
          <br />
          Upload Blanked Resume
        </div>
      </div>
    </div>
    <div class="showMessage">
      <p *ngIf="showMessage">{{ showMessage }}</p>
    </div>
  </div>

  
  <button type="submit" class="save-btn" name="savebtn" (click)="onSubmit()">Create</button>
  <!-- <div *ngIf="reactiveForm.valid; else templateName">
    Form is Valid!
  </div> -->
  <!-- <ng-template #templateName>
    Form is Invalid!
  </ng-template> -->
  <button class="draft-btn" name="draftbtn">Save Draft</button>


				<!-- <button type="button" (click)="patchUserValues()">Patch User values</button> -->
</form>

