/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row {
    margin-bottom: 10px; 
}
  
  input[type="text"] {
        border-radius: 34px;
         width: 85%;
         height: 50px;
         margin-top: 2%;
         margin-right: auto;
         margin-left: 8%;
         border: 0px;
  }

  .showInputField {
    display: flex;
    flex-direction: column;
  }